
{{ define "main" }}
<section class="section">
  <main class="container mb-6">
    <h1 class="title">{{ .Title }}</h1>
    <h3 class="subtitle">
      <span class="tag is-link">{{ .ReadingTime }} Minutes</span>
      <span class="tag is-dark">{{ .Date.Format "Jan 2, 2006" }}</span>
      <span class="tag is-warning">{{ .WordCount }} Words</span>
    </h3>

    <article class="content">{{ .Content }}</article>
  </main>

  <div class="container content">
    
    {{ $asset := resources.Get "/duck.jpg" }}
    {{ $img := $asset.Fit "500x500"}}
    <figure class="image is-3by2">
      <img alt="Yellow Duck" src="{{ $img.RelPermalink }}" />
    </figure>

    <ul>
      {{ with .PrevInSection }}
      <li>
        Previous Post:
        <a class="previous" href="{{ .Permalink }}">{{.Title}}</a>
      </li>
      {{ end }} {{ with .NextInSection }}
      <li>Next Post: <a class="next" href="{{ .Permalink }}">{{.Title}}</a></li>
      {{ end }}
    </ul>

    
      
    
  </div>
</section>
{{ end }}
